html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-color: #e8fdef;
}

/* FONTS AND TYPOGRAPHY */

h1 {
    font-size: 6.4rem;
    font-family: 'Turret Road', cursive;

}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 3.6rem;
    font-family: 'Turret Road', cursive;
}

p {
    font-size: 2rem;
    line-height: 1.1;
    font-family: 'Ubuntu', sans-serif;
}

.title {
    text-align: center;
    font-weight: 700;
    letter-spacing: 3px;
}

/* NAVIGATION BUTTONS */

.nav {
    text-align: center;
}

.radio-buttons-parent-child{
    display: block;
    padding-bottom: 1rem;
    font-size: 1.8rem;
    font-family: 'Ubuntu', sans-serif;
}

.step {
    background-color: mediumspringgreen;
    padding: 2px 4px;
}

.step-3 {
    margin-top: -2rem;
}

.positions-list-2{
    display: block;
    margin-top: -5rem;
    padding: 5rem;
    font-size: 1.8rem;
    font-family: 'Ubuntu', sans-serif;
}

.justify-list {
    display: inline-block;
    list-style: none;
    margin-top: -.5rem;
}

.align-list {
    display: inline-block;
    list-style: none;
}

li {
    display: inline-block;
    margin: 1rem;
    padding: 1px 1rem;
    box-shadow: 2px 4px 4px gray;
    border-radius: .5rem;
}


li:hover {
    background-color: rgba(196, 255, 215, .8);
    cursor: pointer;
    transition: all .1s;
}

.active {
    transform: translateY(3px);
}






/* AXIS TOGGLE AND DISPLAY */

.axis-check {
    display: block;
    font-size: 2rem;
}

.main-axis {
    display: block;
    position: fixed;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-weight: 800;
}

.cross-axis {
    display: inline-block;
    text-orientation: upright;
    writing-mode: vertical-rl;
    position: fixed;
    transform: translateY(-50%);
    height: 40vh;
    font-weight: 800;
}


/* BOX STYLING */

.container {
    margin-top: 5rem;
    width: 100%;
    border: 2px solid red;
}

.container > h3 {
    padding: 1rem;
}

.container-text {
    position: absolute;
    color: red;
    margin-top: -5px;
}

.parent {
    display: flex;
    border: 2px solid orange;
    width: 60vw;
    height: 25vh;
    margin: 5rem;
    padding: 1rem;
}

.child {
    display: flex;
    border: 2px solid blue;
    margin: 1rem;
    width: 20%;
    padding: 1rem;
}

.footer {
    margin-top: 5rem;
    font-size: 1.5rem;
    text-align: center;
    
}
